USE [Expenses]
GO
/****** Object:  Table [dbo].[AssignCardToBank_tbl]    Script Date: 27-08-2024 19:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignCardToBank_tbl](
	[ACID] [int] IDENTITY(1,1) NOT NULL,
	[fkpaymodeid] [int] NULL,
	[FKbankcardid] [int] NULL,
	[createddate] [datetime] NULL,
	[createdby] [varchar](50) NULL,
 CONSTRAINT [PK_AssignCardToBank_tbl] PRIMARY KEY CLUSTERED 
(
	[ACID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankCard]    Script Date: 27-08-2024 19:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankCard](
	[Cid] [int] IDENTITY(1,1) NOT NULL,
	[CardName] [varchar](50) NULL,
	[createddate] [datetime] NULL,
	[createdby] [varchar](50) NULL,
 CONSTRAINT [PK_BankCard] PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_tbl]    Script Date: 27-08-2024 19:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_tbl](
	[cat_id] [int] IDENTITY(1,1) NOT NULL,
	[cat_name] [varchar](50) NULL,
	[created_on] [datetime] NULL,
	[created_by] [varchar](50) NULL,
 CONSTRAINT [PK_category_tbl] PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expenses_tbl]    Script Date: 27-08-2024 19:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expenses_tbl](
	[exp_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [varchar](50) NOT NULL,
	[item_qty] [varchar](50) NOT NULL,
	[total_price] [varchar](50) NOT NULL,
	[remark] [varchar](50) NOT NULL,
	[sdate] [date] NOT NULL,
	[created_on] [date] NOT NULL,
	[created_by] [varchar](50) NULL,
	[fkUserId] [int] NULL,
	[fkCatId] [int] NULL,
	[fkSubCatId] [int] NULL,
	[fkSubSubCatId] [int] NULL,
	[FKACID] [int] NULL,
	[docpath] [varchar](100) NULL,
 CONSTRAINT [PK__expenses__FED8E5E979315750] PRIMARY KEY CLUSTERED 
(
	[exp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monthly_Income_tbl]    Script Date: 27-08-2024 19:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monthly_Income_tbl](
	[Mid] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[MonthName] [varchar](50) NULL,
	[Monthly_income] [numeric](18, 2) NULL,
	[created_on] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[fkuserid] [int] NULL,
 CONSTRAINT [PK_Monthly_Income_tbl] PRIMARY KEY CLUSTERED 
(
	[Mid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMode_tbl]    Script Date: 27-08-2024 19:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMode_tbl](
	[PM_id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMode] [varchar](50) NULL,
	[createdby] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_PaymentMode_tbl] PRIMARY KEY CLUSTERED 
(
	[PM_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sub_category_tbl]    Script Date: 27-08-2024 19:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_category_tbl](
	[subcat_id] [int] IDENTITY(1,1) NOT NULL,
	[subcat_name] [varchar](50) NOT NULL,
	[created_on] [datetime] NOT NULL,
	[created_by] [varchar](50) NOT NULL,
	[fkcat_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subcat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sub_sub_category_tbl]    Script Date: 27-08-2024 19:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_sub_category_tbl](
	[sub_sub_catId] [int] IDENTITY(1,1) NOT NULL,
	[sub_sub_catName] [varchar](50) NOT NULL,
	[created_on] [date] NOT NULL,
	[created_by] [varchar](50) NOT NULL,
	[fkCatId] [int] NULL,
	[fkSubCatId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sub_sub_catId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_tbl]    Script Date: 27-08-2024 19:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_tbl](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[statename] [varchar](50) NOT NULL,
	[pincode] [varchar](50) NOT NULL,
	[mobile_num] [varchar](50) NOT NULL,
	[email_id] [varchar](50) NOT NULL,
	[created_on] [datetime] NOT NULL,
	[created_by] [varchar](50) NOT NULL,
	[type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssignCardToBank_tbl]  WITH CHECK ADD  CONSTRAINT [FK_AssignCardToBank_tbl_BankCard] FOREIGN KEY([FKbankcardid])
REFERENCES [dbo].[BankCard] ([Cid])
GO
ALTER TABLE [dbo].[AssignCardToBank_tbl] CHECK CONSTRAINT [FK_AssignCardToBank_tbl_BankCard]
GO
ALTER TABLE [dbo].[AssignCardToBank_tbl]  WITH CHECK ADD  CONSTRAINT [FK_AssignCardToBank_tbl_PaymentMode_tbl] FOREIGN KEY([fkpaymodeid])
REFERENCES [dbo].[PaymentMode_tbl] ([PM_id])
GO
ALTER TABLE [dbo].[AssignCardToBank_tbl] CHECK CONSTRAINT [FK_AssignCardToBank_tbl_PaymentMode_tbl]
GO
ALTER TABLE [dbo].[expenses_tbl]  WITH CHECK ADD  CONSTRAINT [FK_expenses_tbl_AssignCardToBank_tbl] FOREIGN KEY([FKACID])
REFERENCES [dbo].[AssignCardToBank_tbl] ([ACID])
GO
ALTER TABLE [dbo].[expenses_tbl] CHECK CONSTRAINT [FK_expenses_tbl_AssignCardToBank_tbl]
GO
ALTER TABLE [dbo].[expenses_tbl]  WITH CHECK ADD  CONSTRAINT [FK_expenses_tbl_expenses_tbl] FOREIGN KEY([fkCatId])
REFERENCES [dbo].[category_tbl] ([cat_id])
GO
ALTER TABLE [dbo].[expenses_tbl] CHECK CONSTRAINT [FK_expenses_tbl_expenses_tbl]
GO
ALTER TABLE [dbo].[expenses_tbl]  WITH CHECK ADD  CONSTRAINT [FK_expenses_tbl_expenses_tbl1] FOREIGN KEY([fkSubCatId])
REFERENCES [dbo].[sub_category_tbl] ([subcat_id])
GO
ALTER TABLE [dbo].[expenses_tbl] CHECK CONSTRAINT [FK_expenses_tbl_expenses_tbl1]
GO
ALTER TABLE [dbo].[expenses_tbl]  WITH CHECK ADD  CONSTRAINT [FK_expenses_tbl_sub_sub_category_tbl] FOREIGN KEY([fkSubSubCatId])
REFERENCES [dbo].[sub_sub_category_tbl] ([sub_sub_catId])
GO
ALTER TABLE [dbo].[expenses_tbl] CHECK CONSTRAINT [FK_expenses_tbl_sub_sub_category_tbl]
GO
ALTER TABLE [dbo].[expenses_tbl]  WITH CHECK ADD  CONSTRAINT [FK_expenses_tbl_user_tbl] FOREIGN KEY([fkUserId])
REFERENCES [dbo].[user_tbl] ([user_id])
GO
ALTER TABLE [dbo].[expenses_tbl] CHECK CONSTRAINT [FK_expenses_tbl_user_tbl]
GO
ALTER TABLE [dbo].[Monthly_Income_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Monthly_Income_tbl_user_tbl] FOREIGN KEY([fkuserid])
REFERENCES [dbo].[user_tbl] ([user_id])
GO
ALTER TABLE [dbo].[Monthly_Income_tbl] CHECK CONSTRAINT [FK_Monthly_Income_tbl_user_tbl]
GO
ALTER TABLE [dbo].[sub_category_tbl]  WITH CHECK ADD  CONSTRAINT [FK_sub_category_tbl_sub_category_tbl] FOREIGN KEY([fkcat_id])
REFERENCES [dbo].[category_tbl] ([cat_id])
GO
ALTER TABLE [dbo].[sub_category_tbl] CHECK CONSTRAINT [FK_sub_category_tbl_sub_category_tbl]
GO
ALTER TABLE [dbo].[sub_sub_category_tbl]  WITH CHECK ADD  CONSTRAINT [FK_sub_sub_category_tbl_category_tbl] FOREIGN KEY([fkCatId])
REFERENCES [dbo].[category_tbl] ([cat_id])
GO
ALTER TABLE [dbo].[sub_sub_category_tbl] CHECK CONSTRAINT [FK_sub_sub_category_tbl_category_tbl]
GO
ALTER TABLE [dbo].[sub_sub_category_tbl]  WITH CHECK ADD  CONSTRAINT [FK_sub_sub_category_tbl_sub_category_tbl] FOREIGN KEY([fkSubCatId])
REFERENCES [dbo].[sub_category_tbl] ([subcat_id])
GO
ALTER TABLE [dbo].[sub_sub_category_tbl] CHECK CONSTRAINT [FK_sub_sub_category_tbl_sub_category_tbl]
GO
